@model IEnumerable<Fitness.Models.Exercise>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Вправи</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Exercise" asp-action="ExerciseCreate" class="btn btn-primary">Додати вправу</a>
        </div>
    </div>
    <br/>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Назва
                    </th>
                    <th>
                        Витрата калорій на годину
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="50%">@item.Name</td>
                        <td width="50%">@item.CaloriesPerMinute</td>
                        @*<td width="17%"><input name="gramm" type="number" class="navbar" value="1" /></td>*@
                        <td width="15%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Exercise" asp-action="ExerciseUpdate" asp-route-Id="@item.Id" class="btn btn-primary mx-1">Update</a>
                                <a asp-controller="Exercise" asp-action="ExerciseDelete" asp-route-Id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <p>Вправ неіснує</p>
    }

</div>

